<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.mbassara.battleships"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/NoTitleBarFullScreenTheme" >
        <activity
            android:name=".activities.MainMenu"
            android:label="@string/title_activity_main_menu"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CreatingShipsActivity"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.BluetoothClientActivity"
            android:label="@string/title_activity_bluetooth"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.BluetoothHostActivity"
            android:label="@string/title_activity_bluetooth_host"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.GameModeActivity"
            android:label="@string/title_activity_game_mode"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.GameActivity"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.BluetoothActivity"
            android:label="@string/title_activity_bluetooth"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.GameResultActivity"
            android:label="@string/title_activity_game_result"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.OfflineGameActivity"
            android:label="@string/title_activity_offline_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.OptionsActivity"
            android:label="@string/title_activity_options"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.MultiplayerModeActivity"
            android:label="@string/title_activity_multiplayer_mode"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.WiFiHostActivity"
            android:label="@string/title_activity_wi_fi_host"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.WiFiClientActivity"
            android:label="@string/title_activity_wi_fi_client"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>