<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.mbassara.battleships"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainMenu"
            android:label="@string/title_activity_main_menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CreatingShipsActivity"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.BluetoothClientActivity"
            android:label="@string/title_activity_bluetooth"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.BluetoothHostActivity"
            android:label="@string/title_activity_bluetooth_host"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.GameModeActivity"
            android:label="@string/title_activity_game_mode" >
        </activity>
        <activity
            android:name=".activities.GameActivity"
            android:label="@string/title_activity_game" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.BluetoothActivity"
            android:label="@string/title_activity_bluetooth" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>